# Core functionality - changes here should be rare!
/src/app.py                   @hgtdfge
/src/backend/database.py      @hgtdfge
/src/backend/routers/auth.py  @hgtdfge

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hgtdfge
